In [2]:
!pip install h2o

Collecting h2o
  Using cached h2o-3.30.1.1.tar.gz (129.3 MB)
Requirement already satisfied: requests in c:\users\zeus\anaconda3\lib\site-packages (from h2o) (2.22.0)
Collecting tabulate
  Using cached tabulate-0.8.7-py3-none-any.whl (24 kB)
Requirement already satisfied: future in c:\users\zeus\anaconda3\lib\site-packages (from h2o) (0.18.2)
Requirement already satisfied: colorama>=0.3.8 in c:\users\zeus\anaconda3\lib\site-packages (from h2o) (0.4.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\zeus\anaconda3\lib\site-packages (from requests->h2o) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\zeus\anaconda3\lib\site-packages (from requests->h2o) (2020.6.20)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\zeus\anaconda3\lib\site-packages (from requests->h2o) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\zeus\anaconda3\lib\site-packages (from requests->h2o) (3.0.4)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py): started
  Building wheel for h2o (setup.py): finished with status 'done'
  Created wheel for h2o: filename=h2o-3.30.1.1-py2.py3-none-any.whl size=129358608 sha256=5e407f9a1fa2536526822ceceaeaf0bf5a302c77603776d34c3f811c6d2287a9
  Stored in directory: c:\users\zeus\appdata\local\pip\cache\wheels\ff\4c\e4\40c1613225b16aa30abe94996abe494b3747d2edfd50d8bacf
Successfully built h2o
Installing collected packages: tabulate, h2o
Successfully installed h2o-3.30.1.1 tabulate-0.8.7

In [32]:
import h2o

In [33]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.261-b12, mixed mode)
  Starting server from C:\Users\Zeus\Anaconda3\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\Zeus\AppData\Local\Temp\tmpnc23f9kc
  JVM stdout: C:\Users\Zeus\AppData\Local\Temp\tmpnc23f9kc\h2o_Zeus_started_from_python.out
  JVM stderr: C:\Users\Zeus\AppData\Local\Temp\tmpnc23f9kc\h2o_Zeus_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         48 secs
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.1.1
H2O_cluster_version_age:    22 days
H2O_cluster_name:           H2O_from_python_Zeus_v4hsz6
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.748 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.6 final
--------------------------  ---------------------------------------------------------

In [9]:
url="http://h2o-public-test-data.S3.amazonaws.com/smalldata/iris/iris_wheader.csv"
iris=h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [11]:
train,test=iris.split_frame([0.8])

In [14]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.2,1.0,0.1,
mean,5.924347826086959,3.0539130434782598,3.9556521739130437,1.29304347826087,
maxs,7.9,4.2,6.9,2.5,
sigma,0.8157002485592468,0.41681477154216073,1.7198118677378347,0.7563441316368361,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,5.4,3.9,1.7,0.4,Iris-setosa
2,4.6,3.4,1.4,0.3,Iris-setosa
3,4.4,2.9,1.4,0.2,Iris-setosa
4,4.9,3.1,1.5,0.1,Iris-setosa
5,5.4,3.7,1.5,0.2,Iris-setosa
6,4.8,3.4,1.6,0.2,Iris-setosa
7,4.3,3.0,1.1,0.1,Iris-setosa
8,5.4,3.9,1.3,0.4,Iris-setosa
9,5.7,3.8,1.7,0.3,Iris-setosa

In [15]:
train.nrows

115

In [16]:
test.nrows

35

In [20]:
from h2o.estimators.deeplearning import H2ODeepLearningEstimator

In [24]:
mDL=H2ODeepLearningEstimator()
mDL.train(["sepal_len","sepal_wid","petal_len","petal_wid"],"class",train)

deeplearning Model Build progress: |██████████████████████████████████████| 100%

In [25]:
mDL

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1598961965963_2


Status of Neuron Layers: predicting class, 3-class classification, multinomial distribution, CrossEntropy loss, 41,803 weights/biases, 498.2 KB, 1,150 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,4,Input,0,,,,,,,,,
1,,2,200,Rectifier,0,0,0,0.00458601,0.00403448,0,-0.00572765,0.107681,0.474553,0.023675
2,,3,200,Rectifier,0,0,0,0.0137052,0.0280084,0,-0.000884057,0.070238,0.998667,0.00336779
3,,4,3,Softmax,,0,0,0.0195024,0.0757407,0,-0.012457,0.402669,-0.00061588,0.000753847

ModelMetricsMultinomial: deeplearning
** Reported on train data. **

MSE: 0.04110610103911331
RMSE: 0.202746395872068
LogLoss: 0.15199998630001815
Mean Per-Class Error: 0.046650717703349276

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         33.0              0.0             0.0  0.000000   0 / 33
1          0.0             37.0             1.0  0.026316   1 / 38
2          0.0              5.0            39.0  0.113636   5 / 44
3         33.0             42.0            40.0  0.052174  6 / 115

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.947826
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_classification_error
0,,2020-09-01 18:09:55,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN
1,,2020-09-01 18:09:56,0.154 sec,2211 obs/sec,1.0,1,115.0,0.513217,1.531528,0.601174,0.278261
2,,2020-09-01 18:09:56,0.664 sec,2121 obs/sec,10.0,10,1150.0,0.202746,0.152000,0.937757,0.052174

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_wid             1.000000           1.000000    0.271253
1  petal_len             0.926751           0.926751    0.251384
2  sepal_len             0.892715           0.892715    0.242151
3  sepal_wid             0.867134           0.867134    0.235212

In [26]:
p=mDL.predict(test)

deeplearning prediction progress: |███████████████████████████████████████| 100%

In [27]:
p

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.994208,0.00579204,1.32684e-22
Iris-setosa,0.999841,0.000159472,4.20307e-24
Iris-setosa,0.999536,0.000463755,4.21549e-23
Iris-setosa,0.999985,1.47139e-05,5.48167e-25
Iris-setosa,0.999892,0.000107507,3.79299e-24
Iris-setosa,0.996237,0.00376268,2.16245e-23
Iris-setosa,0.999989,1.08109e-05,1.3495e-25
Iris-setosa,1,3.90357e-07,1.8155e-24
Iris-setosa,0.999952,4.83808e-05,4.97797e-24
Iris-setosa,0.999918,8.18093e-05,3.19624e-23

In [28]:
mDL.model_performance(test)

ModelMetricsMultinomial: deeplearning
** Reported on test data. **

MSE: 0.021096882278048533
RMSE: 0.14524765842535478
LogLoss: 0.05786853341447865
Mean Per-Class Error: 0.0196078431372549

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         16.0              1.0             0.0  0.058824  1 / 17
1          0.0             12.0             0.0  0.000000  0 / 12
2          0.0              0.0             6.0  0.000000   0 / 6
3         16.0             13.0             6.0  0.028571  1 / 35

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.971429
1  2   1.000000
2  3   1.000000

In [35]:
h2o.cluster().shutdown()

H2O session _sid_970d closed.